.scroll-to-top-button {
    position: fixed;
    bottom: 10vh;
    right: 10vw;
    z-index: 899;
}
.hidden {
    display: none;
}
.scroll-to-top-button #arrow-top{
    font-size: 32px;
    font-family: Montserrat;
    font-weight: 600;
    padding: 2px 5px;
    border: 1px solid transparent;
    backdrop-filter: blur(30px);
    border-image: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
    border-image-slice: 1;
    border-radius: 50%;
}