.navbar-container,
.navbar-container2 {
    display: flex;
    justify-content: space-between;
    padding: 25px 10vw 5px;
    align-items: center;
    position: relative;
    z-index: 5;
    /* font-size: 36px; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
 
.mobile-nav,
.hide-brand-name,
.hide-svg-wrapper,
.hide-close-btn {
    display: none;
}
.brand-name {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'ClashDisplay';
}

.brand-name #colored {
    color: var(--secondary-color);
}

.navbar-container .desktop-nav,
.navbar-container2 .desktop-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width: 716px; */
    height: 53px;
    flex-shrink: 0;
    list-style: none;
    gap: 3vw;
}
.navbar-container2 .mobile-nav {
    list-style: none;
}

.navbar-container ul li,
.navbar-container2 ul li {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
}

.navbar-container ul li a,
.navbar-container2 ul li a {
    color: inherit;
    text-decoration: none;
}

.navbar-container ul li:nth-child(5),
.navbar-container2 ul li:nth-child(5) {
    justify-self: center;
    background: var(--button-gradient-background-color);
    padding: 16px 52px;
    border-radius: 4px;
    margin-left: 50px;
}

.svg-wrapper,
.close-btn  {
    display: none;
}

@media (max-width: 1200px) {
    .navbar-container ul li,
    .navbar-container2 ul li {
        font-size: 13px;
    }

    .navbar-container ul li:nth-child(5),
    .navbar-container2 ul li:nth-child(5) {
        padding: 12px 32px;
        margin-left: 30px;
    }

    .brand-name {
        font-size: 24px;
    }
}
@media (max-width: 890px) {
    .navbar-container .desktop-nav,
    .navbar-container2 .desktop-nav {
        display: none;
    }
    .navbar-container2 {
        position: fixed;
        height: 100vh;
        width: 100vw;
        backdrop-filter: blur(30px);
        display: block;
        z-index: 20;
    }
    .navbar-container2 .mobile-nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        height: max-content;
        gap: 3vh;
        margin-left: 0;
        margin-top: 20vh;
        padding-left: 5vw;
    }
    .navbar-container2 .mobile-nav li:nth-child(5) {
        justify-self: center;
        margin-left: 0px;
    }
    .close-btn {
        display: block;
        border-radius: 50%;
        border: 1px solid transparent;
        border-image: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
        border-image-slice: 1;
        width: 32px;
        height: 32px;
        padding: 2%;
        position: absolute;
        top: 10vh;
        right: 15vw;
    }
    .svg-wrapper {
        display: block;
    }
}