
/* faq section */
.FAQs-stn {
    display: flex;
    padding-left: 13vw;
    margin-top: 3rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
    align-items: center;
    gap: 7vw;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.18);
}

.FAQs-stn .stars,
.FAQs-stn .question-marks {
    position: absolute;
}

.FAQs-stn .illustration img,
.FAQs-stn .stars img {
    width: 100%;
    height: 100%;
}

.FAQs-stn .stars:nth-child(1) {
    top: 7rem;
    left: 10vw;
}

.FAQs-stn .stars:nth-child(2) {
    top: 5rem;
    right: 28vw;
    width: .9rem;
}

.FAQs-stn .stars:nth-child(3) {
    top: 17rem;
    right: 40vw;
    width: 1rem;
}

.FAQs-stn .stars:nth-child(4) {
    top: 29rem;
    right: 45vw;
    width: 1.2rem;
}

.FAQs-stn .stars:nth-child(5) {
    bottom: 3rem;
    right: 15vw;
    width: 1.2rem;
}

.FAQs-stn .question-marks {
    color: #A866FD;
    font-family: 'MADE TOMMY';
    font-size: 96px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.5px;
    top: -1%;
    left: 10%;
}

.FAQs-stn .question-marks:nth-child(3) {
    top: -1%;
    left: 55%;
}

.FAQs-stn .question-marks:nth-child(2) {
    color: #D434FE;
    font-family: 'MADE TOMMY';
    font-size: 128px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.5px;
    top: -10%;
    left: 30%;
}

.FAQs-stn .illustration {
    width: 45vw;
    position: relative;
    z-index: 9;
}

.FAQs-stn .text-stn .h3 {
    color: #FFF;
    font-family: 'ClashDisplay';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.FAQs-stn .text-stn .h3 h3 {
    margin: 0;
}

.FAQs-stn .text-stn .h3 h3:nth-child(2) {
    color: var(--secondary-color);
}

.FAQs-stn .text-stn #answers {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px;
    max-width: 30vw;
    margin-bottom: 5rem;
}

.FAQs-stn .text-stn .faqs {
    width: 110%;
}

.FAQs-stn .text-stn .faqs p {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D434FE;
    padding-bottom: 10px;
}

.FAQs-stn .text-stn .faqs p span:nth-child(1) {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px;
}

.FAQs-stn .text-stn .faqs p span:nth-child(2) {
    color: #D434FE;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px;
}