.cursor {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
    transition: 0.4s;
    transition-delay: -50ms;
    pointer-events: none;
    z-index: 99;
    transform: translateX(-50%);
    opacity: 0%;
    margin-top: -10px;
}
.lin {
    width: 45px;
    height: 45px;
    /* opacity: 60% !important; */
    z-index: 99;
    /* transition: 0.2s;
    transition-delay: -50ms; */
    margin-top: -10px;
    transform: translateX(-50%);
    pointer-events: none;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(270deg, rgb(144, 58, 255, .6) 0%, rgb(212, 52, 254, .6) 56.42%, rgb(255, 38, 185, .6) 99.99%, rgb(254, 52, 185, .6) 100%);
}

@media screen and (max-width: 1023px) {
    .cursor, .lin {
        display: none;
    }
}